<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.label :remember_me do %>
    <%= f.check_box :remember_me, class: 'check_box' %>
    <span>Remember me on this computer</span>
  <% end %>
      
  <%= f.submit 'Log in' %>
<% end %>